{% extends 'base.html' %}

{% load mathfilters %}

{% block header %}
<div class="text-white sticky-top w-100 p-1  mb-3 bg-dark">
  <figure class="text-center">
    <blockquote class="blockquote mb-3">
      <p>
        Muscle-Health-blog</p>
    </blockquote>
    <figcaption class="blockquote-footer mb-3">
        Data update
    </figcaption>
  </figure>
  </div>
{% endblock %}

{% block sidebar %}

<form action="" method="POST" class="container text-center text-white">{% csrf_token %}
    <div class="m-2 p-2 text-center bg-secondary">
        <label for="name">Enter update eat </label><br>
        >> {{ form.eat }}
      </div>
    <div class="m-2 p-2 text-center ">
        <label for="name">Enter update kcal </label><br>
        >> {{ form.kcol }}
      </div>
    <div class="m-2 p-2 text-center bg-secondary">
        <label for="name">Select update daycolor </label><br>
        >> {{ form.daycolor }}
      </div>

    <!--{{from}} はモデルで指定しているデータをfromの形で表示できる-->
    <input type="submit" value="UPDATE" class="btn  btn-outline-success btn-lg text-success m-2 p-2">
</form>

{% endblock%}

{% block content %} 

{% endblock %}


{% block footer %}
	<div class="row ">
		<div class="col-12">
            <p class="p-1">	ジェレミー・ブエンディア ~
                No kidding, training right now!~</p>
        </div>
	</div>
{% endblock %}



